<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter</title>
  </head>
  <body>
    <h1>Lets Start the Game</h1>

    <form action="/check-match" method="post">
      <label for="sentence">Input sentence:</label>
      <input id="sentence" name="sentence" type="text">
      <label for="word">search word:</label>
      <input id="word" name="word" type="text">

      <button type="submit">Search</button>
    </form>

  </body>
</html>
