@{
  Layout = "_Layout";
}

    <center><h1>Lets Start the Game</h1></center>

    <div class = "container">
    <form action="/check-match" method="post">
    <div class = "form-group">
      <label for="sentence">Input sentence:</label>
      <input id="sentence" name="sentence" class = "form-control" type="text"><br>
    </div>
    <div class = "form-group">
      <label  for="word">search word:</label>
      <input id="word" class = "form-control" name="word" type="text"><br>
    </div>

      <center><button type="submit" class = "btn btn-success">Search</button>
      </center>

    </form>
    </div>
