<!DOCTYPE html>
<html>
<head>
  <title>Word Counter</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <h1>Hello, Let's Play the WORDCOUNTER game!</h1>
    <a href='/word-counter/new'>Click to enter the word and the sentence<a/>
    </div>
  </body>
  </html>
